body {
    background-color: whitesmoke;
    font-size: 20px;
    position: absolute;
    font-family: cursive;
    text-align: center;
}

.early {
    background-color: beige;
    display: inline-block;
}

img .early {
    display:flex;
    align-items: center;
}

h1 {
    font-size: 3rem;
    text-decoration: underline;
    font-family: fantasy;
}

.fame {
    background-color: blueviolet;
}

.philanthropy {
    background-color: coral;
}

footer {
    font-size: .5rem;
}